/*TODO: fix import*/
@import url("https://fonts.googleapis.com/css?family=Inclusive+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

/* body, header inclusive */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  td,
  th {
    @apply p-2;
  }
}

html,
body {
  margin: 0;
  font-family: "Inclusive Sans" !important;
}

p {
  font-family: "Source Sans 3" !important;
  font-size: 1.5rem;
}

table {
  font-family: "Source Sans 3";
}

h2 {
  font-size: 2rem !important;
}

.input {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
